
        <tbody id="sensor-data-table">
            {% for item in data %}
            <tr class="border-b hover:bg-gray-100">
                <td class="px-4 py-2">{{ item.time|str_to_date('%Y/%m/%d %H:%M:%S')|strftime('%d-%m-%Y: %H:%M')}}</td>
                <td class="px-4 py-2">{{ item.humidity }}</td>
                <td class="px-4 py-2">{{ item.temperature }}</td>
                <td class="px-4 py-2">{{ item.EC }}</td>
                <td class="px-4 py-2">{{ item.PH }}</td>
                <td class="px-4 py-2">{{ item.N }}</td>
                <td class="px-4 py-2">{{ item.P }}</td>
                <td class="px-4 py-2">{{ item.K }}</td>
                <td class="px-4 py-2">{{ item.power }}</td>
            </tr>
            {% endfor %}
        </tbody>
