<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sensor Data{% endblock %}</title>
    <script src="https://unpkg.com/htmx.org@1.9.3"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js" integrity="sha512-L0Shl7nXXzIlBSUUPpxrokqq4ojqgZFQczTYlGjzONGTDAcLremjwaWv5A+EDLnxhQzY5xUZPWLOLqYRkY0Cbw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 text-gray-900">

    <!-- Navbar -->
    <nav class="bg-gray-600 p-4 shadow-lg">
        <div class="container mx-auto">
            <a href="/" class="text-white font-semibold text-lg">Dashboard</a>
        </div>
    </nav>

    <!-- Main Content -->
    <div class="container mx-auto mt-10">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Footer -->
    <footer class="bg-gray-600 p-4 mt-10 text-center text-white">
        © 2024 Sensor Dashboard - All rights reserved
    </footer>
    
</body>
</html>
